.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dad1fd;
}

.generator {
  background-image: linear-gradient(-225deg, #5D3FD3 0%, #5D3FD3 100%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(245, 244, 244, 0.863);
  padding: 30px;
  width: 400px;
}
.generator__header {
  text-align: center;
  color: wheat;
  margin-bottom: 20px;
}
.generator__password {
  background-color: #5D3FD3;
  padding: 13px 10px;
  color: #fff;
  margin-bottom: 15px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}
.copy__btn {
  color: #fff;
  background: #7F00FF;
  margin: 0px 21px;
  cursor: pointer;
  padding: 0px 10px;
}
.generator__btn {
  background: #7F00FF;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
}
.form-group {
  display: flex;
  justify-content: space-between;
  color: wheat;
  margin-bottom: 15px;
}
